@import url('https://fonts.googleapis.com/css2?family=Teko:wght@400;600&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    /* Fallback */
    height: 100dvh;
    /* Dynamic Viewport for Mobile */
    overflow: hidden;
    background: #000;
    /* Match intro background to blend bars */
    font-family: 'Teko', sans-serif;
    color: white;

    /* DISABLE SELECTION */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    /* PREVENT BLUE TAP HIGHLIGHT ON MOBILE */
    -webkit-tap-highlight-color: transparent;
}

* {
    box-sizing: border-box;
}

#vfx-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 9000;
    mix-blend-mode: screen;
}